.add-new{
    align-self: flex-end;
    position: fixed;
    
}

.post-item {
  background-color: #f5f5f5;
  width: 50%;
  margin: 0 auto 12px;
  gap: 24px;
  border-radius: 24px;
}

.post-item-header {
  text-align: center;
  line-height: 1px;
  padding: 8px;  
}

.post-item-content {
  text-align: center;
  padding: 0px 48px;
}

.header{
font-size: 24px;
line-height: 1;
}