<div class="wrapper contianer">
    <a mat-fab routerLink="diary" class="add-new">
        <span class="material-symbols-outlined">
            edit_square
        </span>
    </a>
        <div class="post-item" *ngFor="let page of diaryPages">
            <div class="post-item-header">
                <p class="header">{{ page.title }}</p>
                <p>({{ page.date | date }})</p>
            </div>
            <div class="post-item-content">
                <p>{{ page.content }}</p>
            </div>
        </div>
</div>