.add-new{
    align-self: flex-end;
    position: absolute;
    padding: 30px;
}

.post-item{
    background-color: whitesmoke;
    width: 50%;
    margin: 0 auto;
}
.post-item-header{
    
    padding: 12px;
    background-color: #f1f1f1;
}