<div class="wrapper">
    <mat-card >
        <mat-card-header class="header">
            <div class="header-content">
                <div mat-card-avatar>
                    <img height="100" src="https://i.redd.it/5560va6tsg191.jpg" alt="Profile Picture" />
                </div>
                <div>
                    <mat-card-title>Tomáš Ondrišák</mat-card-title>
                    <mat-card-subtitle>SW Developer</mat-card-subtitle>
                </div>
            </div>
        </mat-card-header>
      
        <mat-card-content>
          <p>Obyčajný chalan.</p>
          <h3>Sieň slávy:</h3>
          <mat-grid-list cols="3" rowHeight="1:1" gutterSize="10px">
            <mat-grid-tile>
              <img
                class="collected-item"
                src="https://bylinke.sk/public/zoznam/b_2018-01-23-15-05-16-Levandul%CC%8Ca-u%CC%81zkolista%CC%81-Lavandula-angustifolia-bylinke-herb-zdravie-bylinky-biele-pozadie-white-background.jpg"
                alt="kvetina"
              />
            </mat-grid-tile>
            <mat-grid-tile>
              <img
                class="collected-item"
                src="https://www.velkoobchod-tabacek.sk/_obchody/firma-tabacek.shop5.cz/prilohy/22/lilie-vazbova-s-12-kremovoruzova.jpg.big.jpg"
                alt="kvetina"
              />
            </mat-grid-tile>
            <mat-grid-tile>
              <img
                class="collected-item"
                src="https://oxalis.cz//img/herbar/big/y8s6s.jpeg"
                alt="kvetina"
              />
            </mat-grid-tile>
            <mat-grid-tile>
                <img
                class="collected-item"
                src="https://www.florea.eu/foto/vbnGalerie/k/karafiat-st-damascus-vjnd1.webp"
                alt="kvetina"
              />
            </mat-grid-tile>
            <mat-grid-tile>
                <img
                class="collected-item"
                src="https://bilder.obi.sk/380f7f85-53a6-4509-9718-caa98b4b35c8/prZZH/134465_1.jpg"
                alt="kvetina"
              />
            </mat-grid-tile>
            <mat-grid-tile>
                <img
                class="collected-item"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmx9yoOk4sSRV0fFI5oKINZi0cM3QGUj7wVw&s"
                alt="kvetina"
              />
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
</div>
