html, body {
    background-color: #495057;
    height: 100vh; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.wrapper{
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}