<div class="wrapper">
    <div>
        <div class="row">
            <mat-form-field>
                <mat-label>Nadpis</mat-label>
                <input matInput #input maxlength="18" placeholder="Krásny deň" />
            </mat-form-field>
            <p>{{ getDayName()}} {{ DateOfWritting | date : "dd.MM.yyy" }}</p>
        </div>
        <div class="paper">
            <div class="paper-content" contenteditable="true">
                 Dnes bol krásny deň, pretože ...
            </div>
        </div>
    </div>
</div>
